
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 5px;
            left: 5px;
            background-color: rgba(98, 137, 159, 1);
        }
        
        .silex-id-1478366444112-0 {
            min-height: 105px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1513791211535-2 {
            width: 636px;
            min-height: 38px;
            top: -2px;
            left: 259px;
        }
        
        .silex-id-1513791423221-3 {
            width: 977px;
            min-height: 81px;
            top: 42px;
            left: 258px;
        }
        
        .silex-id-1513848099542-1 {
            width: 221px;
            min-height: 82px;
            top: 14px;
            left: 6px;
        }
        
        .silex-id-1474394621033-3 {
            top: 140px;
            left: 5px;
            background-color: rgba(98, 137, 159, 1);
            min-width: 1200px;
            background-image: url('../assets/Wood%20Office%20.jpeg');
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 690px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 100px;
        }
        
        .silex-id-1514886272050-3 {
            width: 427px;
            background-color: rgba(255, 255, 255, 0.9058823529411765);
            min-height: 171px;
            top: 47px;
            left: 645px;
        }
        
        .silex-id-1514886544254-5 {
            width: 427px;
            background-color: rgba(255, 255, 255, 0.9058823529411765);
            min-height: 399px;
            top: 258px;
            left: 645px;
        }
        
        .silex-id-1513790295968-0 {
            width: 481px;
            min-height: 632px;
            top: 47px;
            left: 646px;
            background-color: rgba(255, 255, 255, 0);
        }
        
        .silex-id-1514886071489-0 {
            width: 427px;
            background-color: rgba(255, 255, 255, 0.9058823529411765);
            min-height: 171px;
            top: 48px;
            left: 19px;
        }
        
        .silex-id-1514886117252-1 {
            width: 427px;
            background-color: rgba(255, 255, 255, 0.9058823529411765);
            min-height: 171px;
            top: 258px;
            left: 19px;
        }
        
        .silex-id-1514886144212-2 {
            width: 427px;
            background-color: rgba(255, 255, 255, 0.9058823529411765);
            min-height: 190px;
            top: 468px;
            left: 19px;
        }
        
        .silex-id-1512996945310-0 {
            width: 489px;
            min-height: 594px;
            top: 48px;
            left: 17px;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-3 {
            top: 875px;
            left: 5px;
            background-color: rgba(98, 137, 159, 1);
        }
        
        .silex-id-1478366450713-2 {
            min-height: 113px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 53px;
            width: 349px;
            top: 9px;
            left: 430px;
        }
    